.main-container {
  width: 100vw;
  margin-top: 10px;
}

.slider {
  margin: auto;
  width: max(80%, 290px);
  height: max(110px, 40vh);
  border-radius: 20px;
  overflow: hidden;
  /* background: linear-gradient(45deg, #2f8569, #305b74); */
  background-color: white;
  box-shadow: 0px 0px 20px black;
  border: 2px solid rgb(67 81 94);
}
.slide {
  width: 100%;
  height: 100%;
}
.slide img {
  width: 100%;
  height: 100%;
}
